.card > .card-body {
  position: relative;
  .action-btn {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    .btn-warning{
      margin-left: 3px;
    }

  }
  &:focus,
  &:focus-within,
  &:hover {
    background: rgba($color: #000000, $alpha: 0.05);
    .action-btn {
      display: inline-block;
    }
  }
}

.add-edit-btn {
  display: flex;
  justify-content: flex-end;
}
