<div
  class="modal fade show d-flex"
  id="exampleModalLive"
  tabindex="-1"
  aria-labelledby="modalTitle"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content" cdkTrapFocus>
      <div class="modal-header">
        <h3 class="modal-title" id="modalTitle">
          {{ config.title }}
        </h3>
        <button
          #closeBtn
          type="button"
          class="close modal-close-btn"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onCloseModal()"
        >
          <span aria-hidden="true" >x</span>
        </button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
